body{
	font-family: 'Play', sans-serif;
	font-size: 1.1em;
	background-image: url(../img/bg-page.jpg);
	background-size: cover;
	
}

header{
	margin:10px;

}

div.main{
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

header nav{
	background-color: black;
	border: 2px solid #2F4F4F;
	border-radius: 3px;

}

.img img{
	padding: 10px;
	font-size: 60%;
}


/* Je sélectionne les <li> du menu horizontal */
ul.menu li { 
	display : inline;
	padding : 0 0.5em; /* Pour espacer les boutons entre eux */
	text-decoration: none;



}
ul.menu {
	list-style-type : none; /* Car sinon les puces se placent n'importe où */
	text-align: center;
	margin-top: 3px;
	font-size: 1.7em;

}

.menu li a {
	color: #00BFFF ;
	text-decoration: none;
}

.menu li a:hover {
	color: #00FFFF ;
	text-decoration: none;
}

ul.menu1 {
	list-style-type : none; /* Car sinon les puces se placent n'importe où */
	margin-top: 3px;
	font-size: 1.1em;
}

ul.menu1 li {
	list-style-image: url(../img/rsz_1obi-wan_lsw3.png);
	
}


.menu1 li a {
	color: #1E90FF ;
	text-decoration: none;
}

.menu1 li a:hover {
	color: #00FFFF ;
	text-decoration: none;
}


/*SECTION  */

section{
	float: left;
	width: 67%;
	border: 2px solid #2F4F4F;
	border-radius: 3px;
	color: #1E90FF;
	padding: 10px;
	margin: 9px;
	background-color: rgba(0,0,0,0.4);
	display: table-cell;
	
}

section h1{
	color: #00BFFF;
}

section label
{
	color: white;
}

section button{
	background-color:transparent;
	border: none;
}

section .img1{
	float: left;
	width: 35%;
}

section .bienv p{
	color:white;
	text-align: justify;
}

section h4{
	color: red;
}

section .productdetail{
	width: 80%;
}

section ul.productdetail li a{
	text-decoration: none;
}

section ul.productdetail {
	list-style-type : none;
}

section p.img img{
	float: right;

}

section marquee{
	color:white;
}

section div.jeux h2,p{
	text-align: center;
	color:white;
}
section div.pagination{
	text-align: center;
}

section div.pagination p{
	margin: 20px;
	display: inline;
	background-color: #778899;
	padding: 7px;
	border-radius: 5px;
}

.address h4{
	color: #6495ED;
	margin-left: 70px;
}

fieldset .address{
	background-color: #6495ED
}

.address ul {
	list-style-type : none;
}

.address ul li label
{
	display: block;
	width: 150px;
	float: left;
	margin: 10px;
}

.address ul li input{
	
	width: 35%;
	border-radius: 20px;
	margin: 10px;
}

table {
    
    margin-bottom:0px;
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: center;
}

table thead th{
    font-weight:bold;
    font-size: 1.2em;
    border: 1px dotted;
    background-color: rgba(255,255,255,0.2);
    color: white; 


}

tr td{
	border: 1px dotted white;
	padding: 10px;
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	color: red;

}

td{
	width: 40%;
}

tfoot tr th{
	text-align: right;
	color: white;
	border: 1px dotted;
	background-color: rgba(255,255,255,0.2);

}

th select#quantity{
	color:black;
}

div.order p{
	text-align: right;

}

a{
	color: #00CCFF;
}

a:hover{
	color:#E8E8E8;
}

/*Formulaire de contact*/

div.box {

margin: 30px;
width:500px;
background:#222222;
top:50px;
border:1px solid #262626;

}

div.box h1 { 
color:#ffffff;
font-size:18px;
text-transform:uppercase;
padding:5px 0 5px 5px;
border-bottom:1px solid #161712;
border-top:1px solid #161712; 
}

div.box label {
width:100%;
display: block;
background:#1C1C1C;
border-top:1px solid #262626;
border-bottom:1px solid #161712;
padding:10px 0 10px 0;
}

div.box label span {
display: block;
color:#bbbbbb;
font-size:12px;
float:left;
width:100px;
text-align:right;
padding:5px 20px 0 0;
}

div.box .input_text {
padding:10px 10px;
width:200px;
background:#262626;
border-bottom: 1px double #171717;
border-top: 1px double #171717;
border-left:1px double #333333;
border-right:1px double #333333;
}

div.box .message{
padding:7px 7px;
width:350px;
background:#262626;
border-bottom: 1px double #171717;
border-top: 1px double #171717;
border-left:1px double #333333;
border-right:1px double #333333;
overflow:hidden;
height:150px;
}

div.box .button
{
margin:0 0 10px 0;
padding:4px 7px;
background:#CC0000;
border:0px;
position: relative;
top:10px;
left:382px;
width:100px;
border-bottom: 1px double #660000;
border-top: 1px double #660000;
border-left:1px double #FF0033;
border-right:1px double #FF0033;
}

/*PRODUCTS*/

ul.products li {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 10px;


}

ul.products li a{
    text-decoration: none;

}

/* ASIDE  */
aside form{
	margin: 2px;
	padding: 10px;
	border-bottom: 3px dotted #2F4F4F;
}

aside h2{
	text-align: center;
	color:white;
	margin-top: 0px;

}
aside{
	float: right;
	width: 24%;
	border: 2px solid #2F4F4F;
	border-radius: 3px;
	padding: 10px;
	margin:9px;
	background-color: rgba(0,0,0,0.4);
	display: table-cell;
	
}

aside div.aside1 a{
	color: #1E90FF ;
	text-decoration: none;

}

aside h2 strong{
	color: #1E90FF;
}

aside .aside1 h2:last-child a{
	color: red;
}

aside .aside2 p{
	color: red;

}

aside .aside p:last-child a{
	color: white;
}

.recap button {
	background-color: #F0F8FF; 
	border-radius: 10px;
	margin : 10px;
	color: black;
}

aside button.sup{
	margin: 10px;
	border-radius: 10px;

}

aside div.recap button a{
	color: black;
	text-decoration: none;
}

.aside2 .p1 {
	color:white;
}

/* FOOTER */

footer{

	border: 2px solid #2F4F4F;
	border-radius: 3px;
	color: #1E90FF;
	padding: 10px;
	margin: 9px;
	background-color: rgba(0,0,0,0.4);
	

}

footer nav ul.menu2 li { 
	display : inline;
	padding : 0 0.5em; /* Pour espacer les boutons entre eux */
	text-decoration: none;



}
footer nav ul.menu2 {
	list-style-type : none; /* Car sinon les puces se placent n'importe où */
	text-align: center;
	margin-top: 3px;
	font-size: 1em;

}

footer .menu2 li a {
	color: #00BFFF ;
	text-decoration: none;
}

footer .menu2 li a:hover {
	color: #00FFFF ;
	text-decoration: none;
}

footer h6{
	text-align: center;
	margin-bottom: 0px;
}

