body{
	font-family: 'Play', sans-serif;
	font-size: 1.1em;
	background-image: url(../img/bg-page.jpg);
	background-size: cover;
	
}

header{
	margin:10px;

}

div.main{
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

header nav{
	background-color: black;
	border: 2px solid #2F4F4F;
	border-radius: 3px;

}

.img img{
	padding: 10px;
	font-size: 60%;
}


/* Je sélectionne les <li> du menu horizontal */
ul.menu li { 
	display : inline;
	padding : 0 0.5em; /* Pour espacer les boutons entre eux */
	text-decoration: none;



}
ul.menu {
	list-style-type : none; /* Car sinon les puces se placent n'importe où */
	text-align: center;
	margin-top: 3px;
	font-size: 1.7em;

}

.menu li a {
	color: #00BFFF ;
	text-decoration: none;
}

.menu li a:hover {
	color: #00FFFF ;
	text-decoration: none;
}

ul.menu1 {
	list-style-type : none; /* Car sinon les puces se placent n'importe où */
	margin-top: 3px;
	font-size: 1.1em;
}

ul.menu1 li {
	list-style-image: url(../img/rsz_1obi-wan_lsw3.png);
	
}


.menu1 li a {
	color: #1E90FF ;
	text-decoration: none;
}

.menu1 li a:hover {
	color: #00FFFF ;
	text-decoration: none;
}


/*SECTION  */

section{
	float: left;
	width: 67%;
	border: 2px solid #2F4F4F;
	border-radius: 3px;
	color: #1E90FF;
	padding: 10px;
	margin: 9px;
	background-color: rgba(0,0,0,0.4);
	display: table-cell;
	
}

section label
{
	color: white;
}

section .img1{
	float: left;
	width: 35%;
}

section .bienv p{
	color:white;
	text-align: justify;
}

section h4{
	color: red;
}

section .productdetail{
	width: 80%;
}

section ul.productdetail li a{
	text-decoration: none;
}

section ul.productdetail {
	list-style-type : none;
}

/*PRODUCTS*/

ul.products li {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 10px;


}

ul.products li a{
    text-decoration: none;

}

/* ASIDE  */
aside form{
	margin: 2px;
	padding: 10px;
	border-bottom: 3px dotted #2F4F4F;
}

aside h2{
	text-align: center;
	color:white;

}
aside{
	float: right;
	width: 24%;
	border: 2px solid #2F4F4F;
	border-radius: 3px;
	padding: 10px;
	margin:9px;
	background-color: rgba(0,0,0,0.4);
	display: table-cell;
	
}

aside div.aside1 a{
	color: #1E90FF ;
	text-decoration: none;

}

aside h2 strong{
	color: #1E90FF;
}

aside .aside1 h2:last-child a{
	color: red;
}

/* FOOTER */

footer{

	border: 2px solid #2F4F4F;
	border-radius: 3px;
	color: #1E90FF;
	padding: 10px;
	margin: 9px;
	background-color: rgba(0,0,0,0.4);
	

}

footer nav ul.menu2 li { 
	display : inline;
	padding : 0 0.5em; /* Pour espacer les boutons entre eux */
	text-decoration: none;



}
footer nav ul.menu2 {
	list-style-type : none; /* Car sinon les puces se placent n'importe où */
	text-align: center;
	margin-top: 3px;
	font-size: 1em;

}

footer .menu2 li a {
	color: #00BFFF ;
	text-decoration: none;
}

footer .menu2 li a:hover {
	color: #00FFFF ;
	text-decoration: none;
}

footer h6{
	text-align: center;
	margin-bottom: 0px;
}