body{
	font-family: 'Indie Flower', cursive;
	font-size: 1em;
	
}

section{
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

h1{
	text-align: center;
}

div.page h1{
	text-align: left;
}






